.game {
    background-image: var(--gradient);
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: end;
    justify-content: space-between;

    @media(max-width : 425px) {
        justify-content: center;
    }
}
.ImgLogoOut {
    padding: 3px;
    width: 50px;
    height: 50px;
    background-color: rgba(213, 219, 219, 0.5);
    border-radius: 50px;
    margin: 20px;
    box-shadow: 5px 5px 5px rgb(46, 46, 46);
}
.ImagemGame{
    height: 60vh;
    box-shadow: 5px 5px 5px rgb(46, 46, 46);

}
.imgsSocialMedia{
    height: 100%;
}