
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #1092F0;
}

.logo {
  width: 50px;
  height: auto;
}

.menuButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 0;
  left: -200px;
  height: 100vh;
  width: 200px;
  background-color: #1092F0;
  transition: left 0.3s ease;
}

.menu.active {
  left: 0;
}

.menu a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.menu a:hover {
  background-color: #555;
}
