/* Nav-bar.module.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
}

.logo {
  width: 50px;
  height: auto;
}

.menuButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 0;
  left: -200px; /* Posiciona o menu fora da tela por padrão */
  height: 100vh; /* Define a altura do menu como a altura da tela */
  width: 200px; /* Define a largura do menu */
  background-color: #333;
  transition: left 0.3s ease; /* Adiciona uma transição suave ao abrir e fechar o menu */
}

.menu.active {
  left: 0; /* Posiciona o menu à esquerda quando ativo */
}

.menu a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.menu a:hover {
  background-color: #555;
}
